<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Day24-eclipse-Thread/src/com/xiaxia/RunTime/RunTimeDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.xiaxia.RunTime.RunTimeDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Day24-eclipse-Thread"/>
</launchConfiguration>
